
body, html {
    margin: 0;
    padding: 0;
    background-color: #F9F0DD;
    color: #484848;
  }

  .container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
  }
  
  .react-calendar {
    border-radius: 15px;
  }
  
  .photo-details {
    background-color: #E8D4AF;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .principal-information img {
    width: 340px; 
    height: auto; 
    border-radius: 5px; 
    display: block;
    margin-left: auto; 
    margin-right: auto
  }
  
  
  .secondary-images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    padding: 0;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .secondary-images-container img {
    width: 120%; 
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
  }

  #title {
    font-weight: bold;
    font-size: 60px;
    padding: 0;
    margin: 10px;
  }

  p {
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
  }
  

  .description, .container-information, .donnees-information {
    font-size: 25px;
    padding: 20px;
  }
  
  .description {
    
    display: flex;
    justify-content: center;
  }
  .container-information{
    display: flex;
    justify-content: space-around;
  }
  .container-information h3 {
    margin-bottom: 10px;
  }

  h3 {
    margin: 0;
    font-size: 39px;
    color: rgb(17, 128, 91);
  }
  
  .container-information ul {
    list-style: none;
    padding: 0;
  }
  
  .container-information li {
    margin-bottom: 10px;
  }
  
  .donnees-information p {
    font-size: 20px;
    /* margin-bottom: 5px; */
  }
  
  .container-information strong {
    font-weight: bold;
  }
  
  .donnees-information, .avis-user {
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.8); /* Assure que le texte reste lisible */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  
  }
  .image-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .image-slider-container .main-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
  }

  .donnees-information {
    margin-right: 28%;
    height: 100%;
  }
  .calendar {
    margin-left: 28%;
    display: flex;
    justify-content: center;
  }
  .container-calendar-information {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }