.card-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;  */
  }
  
  .card {
    background-color: #7a6036;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); 
  }
  .images-container {
    display: flex;
    gap: 10px;
  }
  /* Style pour les images */
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Style pour les titres */
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Style pour les prix */
  .card p strong {
    color: #009688; /* Couleur du texte du prix */
  }
  
  /* Style pour les avis */
  .card h3 {
    font-size: 18px;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
  }
  
  .card li {
    margin-bottom: 5px;
  }
  