body {
    margin: 0;
    background-color: bisque;
    /* background-image: url('../assets/background3.webp'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.card-container {
    color:antiquewhite;
    margin-left: 6vh;
    margin-right: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .card {
    background-color: #392607;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 10px; /* Réduisez la valeur de padding pour réduire la taille de la carte */
    margin: 10px;
    width: calc(30.33% - 0rem); 
    height: 70vh;
  }

  .images-container {
    width: 50vh;
    height: 48%;
    margin-bottom: 80px;
    display: flex;
    gap: 10px;
  }

  .secondary-images-container img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-right: 10px; /* Ajoutez une marge droite de 10px entre les images */
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  
  .card h2 {
    color: bisque;
    font-size: 35px;
    margin-bottom: 10px;
  }
  
 
  .card p strong {
    color: #009688;
  }
  
  
  .card h3 {
    font-size: 30px;
    color: #009688;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
  }
  
  .card li {
    margin-bottom: 5px;
  }
 
  .comment {
    color: antiquewhite;
  }
  